<mat-nav-list>
  <a
    mat-list-item
    routerLink="/signup"
    (click)="onCloseSideNav()"
    *ngIf="!isAuth"
  >
    <mat-icon>person</mat-icon>
    <span class="sidebar-icon">Signup</span>
  </a>
  <a
    mat-list-item
    routerLink="/login"
    (click)="onCloseSideNav()"
    *ngIf="!isAuth"
  >
    <mat-icon>input</mat-icon>
    <span class="sidebar-icon">Login</span>
  </a>
  <a
    mat-list-item
    routerLink="/training"
    (click)="onCloseSideNav()"
    *ngIf="isAuth"
  >
    <mat-icon>fitness_center</mat-icon>
    <span class="sidebar-icon">Training</span>
  </a>
  <mat-nav-list *ngIf="isAuth">
    <button mat-button>
      <mat-icon>logout</mat-icon>
      <span class="sidebar-icon" (click)="onLogout()">Logout</span>
    </button>
  </mat-nav-list>
</mat-nav-list>
